{% load static %}


<!doctype html>
<html lang=”en”>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Explore Data</title>

    {% include 'links.html' %}
    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
</head>

<!-- ################################# body ######################## -->
<body>
{% include 'navbar.html' %}

<div class="w3-container">

<!-- ################################################################ -->
<!--                 title "Explore VDJbase Data"                     -->
<!-- ################################################################ -->
     <div id="frame-content">
        <div id="template" class="template product product-feature">
            <br><br>
            <div class="feature-column">
                <div class="feature-hero-unit" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url({%  static 'images/explore_header.jpg' %});">
                    <div class="feature-container">
                        <h1>Explore VDJbase Data</h1>

                        <!-- <a class="button secondary" href="https://pdf-temp-files.s3.amazonaws.com/ee9a864f087c4f948c73badd5b30dfbf/index.html" download="ExploreVDJbase" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right:10px;"></i>DOWNLOAD EXPLANATION SHEET</a>
                        -->
                        <a class="button secondary" href="{% static 'images/ExplorePage_graph_explanations.pdf' %}" download="ExploreVDJbase" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true" style="margin-right:10px;"></i>DOWNLOAD EXPLANATION SHEET</a>
                    </div>
                </div>
            </div>
        </div>
     </div>


<!-- ################################################################ -->
<!--                       Dataset summary                            -->
<!-- ################################################################ -->
    <div class="w3-container">
        <h1 style="color:#009999;font-size:300%;text-align:left"><b>Summary of VDJbase Dataset </b></h1>
    </div>

    <!--Table and divs that hold the pie charts-->

     <div class="w3-row w3-chart-row">
        <div class="w3-col l5 m12 s12 w3-chart" id="piechart_div" ></div>
        <div class="w3-col l3 m12s12 w3-chart" id="barchart_div" ></div>
        <div class="w3-col l4 m12s12 w3-chart" id="piechart_div3"></div>
     </div>

</div>

<div class="w3-container">
        <div class="w3-row w3-chart-row">
            <div class="w3-col l9 m12">
                <div class="w3-container"   style="width:1050px; height:600px; overflow:auto;margin-left: auto; margin-right: auto;">
                <table style="width: 1000px; height: auto;" cellspacing="0" cellpadding="1" border="1" width="300">
                    <tr>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Project ID</th>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Accession ID</th>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Institute</th>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Subjects</th>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Samples</th>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Link to the paper</th>
                      <th style='position: sticky; top:0; background: #ddd; height: 5px;'>Accession link</th>
                    </tr>

                    {% for study in allstudies %}
                    <tr>
                    <td>{{ study.name }}</td>
                    <td>{{ study.accession_id }}</td>
                    <td>{{ study.institute }}</td>
                    <td>{{ study.num_subjects }}</td>
                    <td>{{ study.num_samples }}</td>
                    <td><a href="{{ study.reference }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                    <td><a href="{{ study.accession_reference }}" target="_blank"><i class="fa fa-file-text-o"></i></a></td>

                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>

                <div class = "w3-col l3 m12 w3-chart" id="piechart_div4"></div>
        </div>
</div>

<br>
<br>
<!-- ################################################################ -->
<!--                   Some interesting results                        -->
<!-- ################################################################ -->

<!--border line + title -->
<div class="w3-content" style="max-width:1200px">
    <hr>
    <div class="w3-row">
        <div class="w3-container">
            <h1 style="color:#009999;font-size:300%;text-align:left"><b>Some of the interesting results revealed by VDJbase</b></h1>
        </div>
    </div>

    <!-- The Allele distribution Section -->

    <div class="w3-row">
        <div class="w3-container">
        <div class="w3-col l4 m12">
          <h1 class="xlarge-font"><b>Allele Distribution</b></h1>
          <h1 class="large-font" style="color:MediumSeaGreen;"><b>selected IGHJ throughout the database</b></h1>
        </div>
        <div class="w3-col l8 m12">
            <img class="exp_image" src="{% static 'images/allele_IGHJ_distribution.png' %}" >
        </div>
      </div>
    </div>

    <!-- Heterozygous Section -->

    <div class="w3-row">
        <div class="w3-container">
            <div class="w3-col l8 m12">
                <img class="exp_image" src="{% static 'images/heterozygosity2.png' %}">
            </div>
            <div class="w3-col l4 m12" style="padding-left: 20px">
              <h1 class="xlarge-font"><b>Heterozygosity</b></h1>
              <h1 class="large-font" style="color:MediumSeaGreen;"><b>Heterozygosity abundance for each gene in the samples of interest</b></h1>
            </div>
        </div>
    </div>

    <!-- The Gene usage Section -->

    <div class="w3-row">
        <div class="w3-container">
        <div class="w3-col l3 m12">
          <h1 class="xlarge-font"><b>Gene Usage</b></h1>
          <h1 class="large-font" style="color:MediumSeaGreen;"><b>gene deletion</b></h1>
        </div>
        <div class="w3-col l9 m12">
            <img class="exp_image" src="{% static 'images/gene_usage_explore.png' %}">
        </div>
      </div>
    </div>


    <!-- ################################################################ -->
    <!-- button for search engine -->
    <!-- ################################################################ -->

     <div class="button-final">
         <a class="button secondary" href="{% url 'database:sample-data' %}" style="color: #fff;">
             <i class="fa fa-laptop" aria-hidden="true" style="margin-right:10px; color:#fff;"></i>
             Try VDJbase Search engine <span class="min-md">now</span></a>
     </div>

    {% include 'static_footer.html' %}
</div>
</body>

<!-- Script for datasets summary -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

      // Load Charts and the corechart and barchart packages.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        var diagnosis_contex = {{Diagnosis_list|safe}};
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Quantity of subjects');
        data.addRows(diagnosis_contex);


        var data2 = new google.visualization.DataTable();
        var sex_contex = {{Sex_list|safe}};
        data2.addColumn('string', 'Topping');
        data2.addColumn('number', 'Quantity of subjects');
        data2.addRows(sex_contex);

        var data3 = new google.visualization.DataTable();
        var cellType_contex = {{Celltype_list|safe}};
        data3.addColumn('string', 'Topping');
        data3.addColumn('number', 'Quantity of samples');
        data3.addRows(cellType_contex);

        var data4 = new google.visualization.DataTable();
        var tissue_contex = {{Tissue_list|safe}};
        data4.addColumn('string', 'Topping');
        data4.addColumn('number', 'Quantity of samples');
        data4.addRows(tissue_contex);


        var piechart_options = { title:'Diagnosis (% individuals)',
                       //width:600,
                       //height:500,
                       chartArea: {left: 0, width: '100%'},
                       width: '100%',
                       colors: ['#009999', '#00e6e6', '#80ffff', '#00cc66', '#003311','#99ffbb','#00bfff','#004d66','#66ffcc', '#004d99','#00dad8',"#88d8b0","#ffeead","#005f65","Salmon","#99ff66","#bfb2f2","#FFFFCC","#FFCC99"],
                           titleTextStyle: {
						color: 'black',    // any HTML string color ('red', '#cc00cc')
						fontName: 'Times New Roman', // i.e. 'Times New Roman'
						fontSize: 20, // 12, 18 whatever you want (don't specify px)
						bold: true,    // true or false
						italic: false   // true of false
					}};
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {title:'Sex (no. individuals)',
                       //width:600,
                       //height:500,
                       chartArea: {left: 70, width: '100%'},
                       width: '100%',
                       legend: 'none',
                       colors: ['#99d6ff', '#0099ff', '#003d66'],
                       titleTextStyle: {
						color: 'black',    // any HTML string color ('red', '#cc00cc')
						fontName: 'Times New Roman', // i.e. 'Times New Roman'
						fontSize: 20, // 12, 18 whatever you want (don't specify px)
						bold: true,    // true or false
						italic: false   // true of false
						}};
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data2, barchart_options);

        var piechart_options3 = {title:'B Cell Type (% samples)',
                       //width:600,
                       //height:500,
                       // legend: 'none',
                       chartArea: {left: 25, width: '100%'},
                       width: '100%',
                       colors: ['#009999', '#00e6e6', '#80ffff', '#00cc66', '#003311','#99ffbb','#00bfff','#004d66','#66ffcc', '#004d99'],
                       titleTextStyle: {
						color: 'black',    // any HTML string color ('red', '#cc00cc')
						fontName: 'Times New Roman', // i.e. 'Times New Roman'
						fontSize: 20, // 12, 18 whatever you want (don't specify px)
						bold: true,    // true or false
						italic: false   // true of false
                       }};
        var piechart3 = new google.visualization.PieChart(document.getElementById('piechart_div3'));
        piechart3.draw(data3, piechart_options3);

        var piechart_options4 = { title:'Tissue (% samples)',
                       //width:200,
                       //height:200,
                       // legend: 'none',
                       chartArea: {left: 0, width: '100%'},
                       width: '100%',
                       colors: ['#009999', '#00e6e6', '#80ffff', '#00cc66', '#003311','#99ffbb','#00bfff'],
                           titleTextStyle: {
						color: 'black',    // any HTML string color ('red', '#cc00cc')
						fontName: 'Times New Roman', // i.e. 'Times New Roman'
						fontSize: 20, // 12, 18 whatever you want (don't specify px)
						bold: true,    // true or false
						italic: false   // true of false
					}};
        var piechart4 = new google.visualization.PieChart(document.getElementById('piechart_div4'));
        piechart4.draw(data4, piechart_options4);
      }

$(window).resize(function(){
  drawChart();
});

</script>

</html>
