{% load static %}


<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HomePage</title>

    {% include 'links.html' %}

    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

</head>
<body>

{% include 'navbar.html' %}
<div class="w3-content" style="max-width:1100px">

    <div class="w3-container">
        <img src="{% static 'images/homepage_logo_1.png' %}" style="width:30%"> <!--image:logoR-->
    </div>

    <div class=w3-container" style="text-align:center">

        <!-- Welcome to VDJBase -->

        <div class="w3-row">
            <div class="w3-container w3-center w3-padding-32" id="about">
            <div class="w3-padding-32">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey title-text" >Welcome to <b>VDJbase</b>!</span>
            </div>
                <p class="w3-xlarge">The adaptive immune receptor Genotype and Haplotype database</p>
                <p class="w3-xlarge" style="color: #00cccc;">11-Oct-2019 *NEW* - VDJbase is described in <a href="https://doi.org/10.1093/nar/gkz872">Nucleic Acids Research</a></p>
                <p class="w3-xlarge" style="color: #00cccc;">12-Sep-2019 *NEW* - More datasets and reporting options added! See the <a href="#release_notes">Release Notes</a> for more details</p>
            </div>
        </div>

        <div class="w3-cell-row">
            <div class="w3-hide-small w3-container w3-cell w3-panel w3-card-4"  style="width:33%">
                    <img src="{% static 'images/homepage_logo_2.png' %}" alt="logo-picture" style="height:100%">
                    <div class="w3-container">
                        <p></p>
                    </div>
            </div>

            <div class="w3-container w3-cell" style="width:67%">
                <div class="w3-container w3-cell w3-panel w3-card-4" >
                    <img src="{% static 'images/homepage_border_1.png' %}"  style="width:100%;">
                    <div class="w3-container">
                          <p class="w3-opacity"></p>

                            <p><font size="3">High throughput DNA sequencing technology has been revolutionized in recent years.
                            This technological boom brought with it a wealth of high quality sequencing datasets, produced by groups around the world.
                            An important application of DNA sequencing is exploring adaptive immune receptor repertoires (AIRR), in which many of the immune system’s secrets are hidden.
                            <br><b>VDJbase</b> is a publicly available database that offers easy searching of genotype and haplotype data
                            inferred from AIRR-seq datasets. From these data we can explore the variability
                            of the genomic loci of the Ig and TR encoding genes across populations.</font></p>


                            <!-- Explore Data page -->
                            <p><a href="{% url 'database:user-guide' %}" target="_blank" class="w3-button w3-light-grey w3-block"> View more (User Guide page) >> </a></p>

                    </div>
                 </div>
            </div>
        </div>

        <!-- What We Offer -->

        <div class="w3-container">
            <div class="w3-center w3-padding-32" id="about">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey title-text" >What We Offer</span>
            </div>
        </div>

        <div class="w3-cell-row" style="height:470px">
            <div class="w3-light-grey w3-container w3-padding-16 w3-cell w3-mobile" style="width:33%;">
                <h3><a href="{% url 'database:sample-data' %}">Database Search</a></h3>
                    <p> <font color="#0f9a7c"><b>Use our <a href="{% url 'database:sample-data' %}">search page </a> to find open datasets</b> </font></p>
                     <p><br>VDJbase is designed to act as a resource for the scientific community that is interested in exploring the genetic dynamics of the Ig and TR gene loci.
                            The search engine page allows interactive browsing and running database queries. Data is available for bulk download and filtering according to certain metadata parameters.
                            It can also assist in exploring antibody related genetic predisposition to diseases.</p>

            </div>

            <div class="w3-grey w3-container w3-padding-16 w3-cell w3-mobile" style="width:33%;">
                <h3><a href="{% url 'database:sample-data' %}">Visualizations</a></h3>
                    <p> <font color="#0f9a7c"><b>Obtain a statistical view on any open dataset by click on the <a href="{% url 'database:sample-data' %}">“Export Graph” </a> buttons at the left of the page</b></font></p>
                    <p> VDJbase hosts online tools to assist in visualization and analysis of the genotype and haplotype data. It enables users to determine which allele and genes are significantly over-represented in a particular population, in terms of genotype, haplotype and VDJ gene expression. All analysis can be downloaded as friendly visualization graphs. Users can obtain an online interactive graphs which allows to modify parameters according to their interest.</p>
            </div>

            <div class="w3-black w3-container w3-padding-16 w3-cell w3-mobile" style="width:33%;">
                <h3><a href="{% url 'database:explore-data' %}">Summary Statistics</a></h3>
                    <p> <font color="#0f9a7c"><b>View the analysis results of VDJbase data by use <a href="{% url 'database:explore-data' %}">“Explore Data” </a> page</b></font></p>
                    <p><br>“Explore Data” page includes representative analyses of VDJbase. This interface exposes the users to some of the interesting findings revealed by VDJbase. </p>
            </div>

        </div>

        <!-- Slideshow -->

        <div class="w3-row" style="padding-bottom:16px; padding-top:32px">
            <div class="w3-container slideshow-container ">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 6</div>
                    <img class="slideshow_image" src="{% static 'images/carousel_1.png' %}">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 6</div>
                    <div class="container">
                        <img class="slideshow_image" src="{% static 'images/carousel_2.png' %}">
                        <div class="slideshow_text-block" style="font-size:4vw"><b>Explore VDJbase Data </b> </div>
                    </div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 6</div>
                    <img class="slideshow_image" src="{% static 'images/carousel_3.png' %}">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">4 / 6</div>
                    <img class="slideshow_image" src="{% static 'images/carousel_4_new.png' %}"  >
                <div class="slideshow_text"></div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">5 / 6</div>
                    <img class="slideshow_image" src="{% static 'images/carousel_5_new.png' %}">
                <div class="slideshow_text"></div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">6 / 6</div>
                    <img class="slideshow_image" src="{% static 'images/carousel_6.png' %}">
                <div class="slideshow_text"></div>
                </div>


            </div>
        </div>

         <div class="w3-row" style="padding-bottom:32px;">
            <span class="slideshow_dot" onclick="currentSlide(0)"></span>
            <span class="slideshow_dot" onclick="currentSlide(1)"></span>
            <span class="slideshow_dot" onclick="currentSlide(2)"></span>
            <span class="slideshow_dot" onclick="currentSlide(3)"></span>
            <span class="slideshow_dot" onclick="currentSlide(4)"></span>
            <span class="slideshow_dot" onclick="currentSlide(5)"></span>
        </div>

        <!-- Contact Information -->

        <div class="w3-row" style="padding-bottom:32px;" id="contact">
            <div class="w3-padding-32">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey title-text" >Contact Information</span>
            </div>

                <p class="w3-xlarge" style="color: #00cccc;">We'd love to hear from you</p>
                <p class="w3-large" style="color: #00cccc;margin: 0 auto;max-width:600px">For more information about the database, queries or graphs,
                                            browse our <a href="{% url 'database:user-guide' %}">User Guide</a>
                                            or join the <a href="https://groups.google.com/forum/#!forum/vdjbase-discussion">Discussion Forum</a>
                </p>
        </div>

        <div class="w3-row" style="padding-bottom:32px;">
            <i class="fa fa-question-circle" style="width:30px; color:#00cccc"> </i> <a href="https://groups.google.com/forum/#!forum/vdjbase-discussion">Discussion Forum</a><br>
            <i class="fa fa-map-marker" style="width:30px; color:#00cccc"></i> Faculty of Engineering, Bar-Ilan University, Israel
            </br>
            <i class="fa fa-map-marker" style="width:30px; color:#00cccc"></i> Birkbeck College, University of London, UK<br>
        </div>

        <!-- Share your Dataset -->

        <div class="w3-row" id="add">
            <div class="w3-padding-32">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey title-text" >Share Your Dataset</span>
            </div>
        </div>

        <!--Text-->
        <div class="w3-center m6 w3-margin-bottom" >
            <div style="margin: 0 auto;max-width:8000px">
                <p>We believe that public access to our datasets will accelerate interesting discoveries.<br>
                    Making your data available to other researchers can impact discovery and relevance of your research.</p>
                <p>Join us in advancing science, and add your (genoytpe) data to VDJbase.</p>
                <p><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i> How do I share data?  Please contact us on the <a href="https://groups.google.com/forum/#!forum/vdjbase-discussion">Discussion Forum</a>, and we will send you a tutorial.</p>
            </div>

            <div class="Sharing center">
                <img src="{% static 'images/homepage_share.jpg' %}" alt="shareImg" class="sharing_image" >
            </div>
        </div>

        <!-- Release Notes -->

        <div class="w3-row margin-bottom" id="release_notes">
            <div class="w3-padding-32">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey title-text" >Release Notes</span>
            </div>
            <p class="w3-xlarge" style="color: #00cccc;">Summary of recent changes and additions to VDJbase</p>
            <div class="w3-responsive">
                <table class="w3-table-all">
                <tr>
                    <th>Date</th>
                    <th>Changes</th>
                </tr>

                <tr>
                    <td>12-Sep-2019</td>
                    <td><ul>
                        <li>More datasets and reporting options added! See the <a href="{% url 'database:explore-data' %}">Explore Data</a> for summary datasets table </li>
                        <li>Added Software version and release information</li>
                    </ul></td>
                </tr>

                <tr>
                    <td>14-Sep-2019</td>
                    <td><ul>
                        <li>Added Frequently Asked Questions (FAQ). See the <a href="{% url 'database:user-guide' %}">User Guide</a> for more details</li>
                    </ul></td>
                </tr>
                </table>
            </div>
        </div>

        <!-- Versions  -->

        <div class="w3-row" id="versions">
            <div class="w3-padding-32">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey title-text" >Versions</span>
            </div>
        </div>

        <!--Text-->
        <div class="w3-center m6 w3-margin-bottom" >
            <div style="margin: 0 auto;max-width:8000px">
                <p><b>Processing versions</b><br>
                * Pipline - v 0.1.0<br>
                * Alignment reference - IMGT full - version 4/12/2018<br>
                * Alignment tool - IgBLAST v 1.7.0<br>
                * Clonotype tool - SCOPer v 0.2.0<br>
                * Genotype tool - TIgGER v 0.4.0 <br>
                * Haplotype tool - RAbHIT v 0.1.2 </p>
                <br>
                <p><b>Visualization versions</b><br>
                * vdjbaseVis - v 0.1.0<br>
                * RAbHIT - v 0.1.3<br></p>
                <br>
                <p><b>Website version</b><br>
                * Commit ID - {{ commit_id }}<br></p>
                <p>*** All codes are available in <a href="https://bitbucket.org/account/user/yaarilab/projects/GPHP">Bitbucket</a>! ***</p>
            </div>
        </div>

        {% include 'static_footer.html' %}

    </div>
</div>

</body>



<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("slideshow_dot");
  for (i = 0; i < slides.length; i++) {
     slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" slideshow_active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " slideshow_active";

  setTimeout(showSlides, 5000); // Change image every 5 seconds
}
</script>

</html>

