{% load static %}


<!doctype html>
<html lang=”en”>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Explore Data</title>

    {% include 'links.html' %}

    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_guide.css' %}">
</head>

<!-- ################################# body ######################## -->

<body>
{% include 'navbar.html' %}

<div class="w3-content" style="max-width:1100px">
    <div class="w3-container"  style="text-align:center; padding-top: 60px">

        <h1 style="color:#009999;font-size:300%; padding-bottom: 60px"><b>Licensing</b></h1>

        <h1 style="color: black;font-size:200%"><b>Content</b></h1>
        <p style="font-size:150%; padding-bottom: 60px">
            Information provided on this site is published under a <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">CC0 (Creative Commons 0) license</a>.
        </p>
        <h1 style="color: black;font-size:200%"><b>Source Code</b></h1>
        <p style="font-size:150%">
            The website source code is published under a <a href="https://perma.cc/DK5U-NDVE" target="_blank">European Union Public License v. 1.2</a> and is available from <a href="https://bitbucket.org" target="_blank">Bitbucket</a>.
        </p>
    </div>
</div>
</body>
</html>
