<!-- Navbar -->

{% load static %}

<div class="w3-top" id="pinned_nav">
    <div class="w3-bar w3-black">
        <a href="{% url 'database:home' %}"><img class="w3-bar-item w3-left w3-hide-small" src="{% static 'images/logo_black2.png' %}" alt="VDJlogo" style="width:9%" /></a>
        <a href="{% url 'database:home' %}#" class="w3-bar-item w3-button w3-padding-large ">Home</a>

        <div class="w3-dropdown-hover w3-hide-small sample-down">
            <button class="w3-padding-large w3-button" title="Tables">Database Search <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'database:sample-data' %}" class="w3-bar-item w3-hide-small w3-button" target="">Samples</a>
                <a href="{% url 'database:allele-data' %}" class="w3-bar-item w3-hide-small w3-button" target="">Alleles</a>
            </div>
        </div>

        <a href="{% url 'database:explore-data' %}" class="w3-bar-item w3-hide-small w3-button w3-padding-large">Explore Data </a>
        <a href="{% url 'database:user-guide' %}" class="w3-bar-item w3-hide-small w3-button w3-padding-large">User Guide </a>

        <div class="w3-dropdown-hover w3-hide-small sample-down">
            <button class="w3-padding-large w3-button" title="Tables">About <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'database:home' %}#contact" class="w3-bar-item w3-hide-small w3-button w3-padding-large">Contact us</a>
                <a href="{% url 'database:home' %}#add" class="w3-bar-item w3-hide-small w3-button w3-padding-large">Contribute dataset</a>
                <a href="{% url 'database:home' %}#versions" class="w3-bar-item w3-hide-small w3-button w3-padding-large">Versions</a>
                <a href="{% url 'database:licensing' %}" class="w3-bar-item w3-hide-small w3-button w3-padding-large">Licensing</a>
            </div>
        </div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="mobileNav()">&#9776;</a>
    </div>

    <div id="mobile_nav" class="w3-hide w3-hide-large w3-hide-medium">
        <div class="w3-bar w3-black">
            <a href="{% url 'database:home' %}#" class="w3-bar-item w3-mobile w3-button w3-padding-large ">Home</a>
            <a href="{% url 'database:sample-data' %}" class="w3-bar-item w3-mobile w3-button" target="">Samples</a>
            <a href="{% url 'database:allele-data' %}" class="w3-bar-item w3-mobile w3-button" target="">Alleles</a>
            <a href="{% url 'database:explore-data' %}" class="w3-bar-item w3-mobile w3-button w3-padding-large">Explore Data </a>
            <a href="{% url 'database:user-guide' %}" class="w3-bar-item w3-mobile w3-button w3-padding-large">User Guide </a>
            <a href="{% url 'database:home' %}#contact" class="w3-bar-item w3-mobile w3-button w3-padding-large">Contact us</a>
            <a href="{% url 'database:home' %}#add" class="w3-bar-item w3-mobile w3-button w3-padding-large">Contribute dataset</a>
            <a href="{% url 'database:home' %}#versions" class="w3-bar-item w3-mobile w3-button w3-padding-large">Versions</a>
            <a href="{% url 'database:licensing' %}" class="w3-bar-item w3-mobile w3-button w3-padding-large">Licensing</a>
        </div>
    </div>
</div>


<div id="pinned_height" style="padding-top:0px;"></div>

<script>
    function getHeight() {
      var nav = document.getElementById("pinned_nav");
      var nav_height = nav.offsetHeight; //append this var where you need to.
      $("#pinned_height").css('padding-top', nav_height+'px')
    };

    $(document).ready(function(){
      getHeight();
    });

    $(window).resize(function(){
      getHeight();
    });

    function mobileNav() {
      $("#mobile_nav").toggleClass('w3-show')
    }
</script>

