{% load static %}

<div class="w3-panel w3-border-top w3-border-black">
<div class="w3-cell-row" style="height:10px">
    <div class="w3-light-grey w3-container w3-padding-16 w3-cell w3-mobile" style="width:33%">
        <img src="{% static 'images/homepage_logo_3.png' %}"  style="max-height: 70px">
    </div>
    <div class="w3-light-grey w3-container w3-cell w3-mobile" style="width:33%;vertical-align: middle">
        <a href="{% url 'database:licensing' %}"><h3>Licensing</h3></a>
    </div>
    <div class="w3-light-grey w3-container w3-cell w3-mobile" style="width:33%;vertical-align: middle;">
        <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Back to top</a>
    </div>
</div>
</div>
