<!DOCTYPE html>
{% load static %}

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<head>
    <meta charset="UTF-8">
    <title>User Guide</title>
    {%  include 'links.html' %}

    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_guide.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="w3-container" style="background-color:#0f9a7c;color:white;padding:20px;">
        <h2><b>User Guide</b></h2>
        <p>This page contains tutorials for using VDJbase</p>
        <p><a href="#Introduction">Introduction</a> | <a href="#Search">Search</a> | <a href="#Graphs">Graphs</a> | <a href="#Downloading">Downloading</a> | <a href="#Submission">Submission</a> | <a href="#Summary">Summary</a> | <a href="#Questions">Frequently Asked Questions (FAQ)</a></p>
    </div>

    <div class="w3-content" style="max-width:1200px;text-align: center">

         <div id="Introduction" class="w3-container ug_section w3-white">
            <h1>Introduction</h1>
            <h5>VDJbase offers users a fast and convenient way to browse for genotypes and haplotypes,
                       compare published datasets, generate interactive visual analyses, and submit AIRR-seq data to foster continuous growth.
                    No login is required, and the data is freely downloadable.
            </h5>
            <h3><b>Graphical structure of VDJbase</b></h3>

            <img class="ug_image" src="{% static 'images/figure2_userGuide.png' %}" alt="figure2">
        </div>

        <div id="Search" class = "w3-container ug_section">
            <div  class="ug_section_header">
            <h2><b>Using our 'Database Search'</b></h2>
            </div>
        </div>

        <div class="w3-container ug_section">
            <div class="w3-light-grey">
            <h1>Query options</h1>
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/6vDmHnWBoyM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            </div>
        </div>

        <!--
        <div class="w3-container ug_section w3-white">
            <h1>Query form</h1>
            <img class="ug_image" src="{% static 'images/query_form.png' %}" alt="figure1">
        </div>
        -->

        <div id="Graphs" class = "w3-container ug_section">
            <div  class="ug_section_header">
            <h2><b>How to generate graphs for selected data?</b></h2>
            </div>
        </div>

        <div class="w3-container ug_section">
            <div class="w3-light-gray">
                <h5>The ‘Export Graphs’ menu enables the creation of a visual analysis of the user’s selected samples.
                Using a set of drop-down tag lists, users can filter all visualizations according to genes, alleles,
                or the certainty level of inferences (Kdiff) for each genotype/haplotype decision</h5>

                <div class="videoWrapper" stlye="padding-bottom:25px">
                   <iframe src="https://www.youtube.com/embed/8z342sAWtL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <a href="{% static 'images/VDJbase_documentation.pdf' %}" download="Graphs_Documentation" target="_blank"><button class="button">DOWNLOAD DOCUMENTATION SHEET</button></a>
        </div>

        <div id="Downloading" class="w3-container ug_section">
            <div  class="ug_section_header">
            <h2><b>Downloading Data</b></h2>
            </div>
        </div>

        <div class="w3-container ug_section w3-white">
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/F-HCqToqOsY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <div class="w3-container ug_section">
            <div class="w3-light-gray">
                <h1>Metadata</h1>
                <h5><p> 'Download Selected' tab provide an Excel format with a full metadata information </p>
                <p>about the selected samples along with their genotype/haplotype files. Metadata fields are according <a href="https://www.nature.com/articles/ni.3873">MiAIRR-complaint format</a> </p></h5>
                <p>In the case of missing sample metadata information, this means that this information had not published</p>
                <!-- <img class="ug_image"  src="{% static 'images/metadata_bigSize.png' %}"> -->

                <!-- table's Head -->
                <table style="width: 800px; height: auto; margin-left: auto; margin-right: auto;" border="0" cellspacing="0">
                <tr style="height: 5px;">
                <td style="width: 122.267px; background-color: #cce6ff; height: 5px;">
                <p><span style="text-decoration: underline;"><strong>Metadata name</strong></span></p>
                </td>
                <td style="width: 356.883px; background-color: #cce6ff; height: 5px;">
                <p><span style="text-decoration: underline;"><strong>Metadata description</strong></span></p>
                </td>
                <td style="width: 196.85px; background-color: #cce6ff; height: 5px;">
                <p><span style="text-decoration: underline;"><strong>Example</strong></span></p>
                </td>
                </tr>
            </table>

                <div style="height:600px;width:800px;border:1px solid #ccc;font:15px/26px Georgia, Garamond, Serif;overflow:auto;margin-left: auto; margin-right: auto;">
                <table style="width: 800px; height: 500px; margin-left: auto; margin-right: auto;" border="1.6" cellspacing="0">
            <tbody>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px; background-color: #ffd9b3;">
            <p>STUDY</p>
            </td>
            <td style="width: 356.883px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 42px;">
            <td style="width: 122.267px; height: 42px;">
            <p>Study ID</p>
            </td>
            <td style="width: 356.883px; height: 42px;">
            <p>Unique ID assigned by study registry</p>
            </td>
            <td style="width: 196.85px; height: 42px;">
            <p>PRJNA001</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Contact information (data collection)</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Full contact information of the data collector, i.e. the person who is legally responsible for data collection and release. This should include an e-mail address.</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>Dr. P. Stibbons, p.stibbons@unseenu.edu</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Lab name</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Department of data collector</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Department for Planar Immunology</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Lab address</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Institution and institutional address of data collector</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Bar Ilan University</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Relevant publications</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Publications describing the rationale and/or outcome of the study</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>"PMID:85642"</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;background-color: #ffd9b3;">
            <p>SUBJECT</p>
            </td>
            <td style="width: 356.883px; height: 46px;background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 46px;background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Subject ID</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Subject ID assigned by submitter, unique within study</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>SUB856413</p>
            </td>
            </tr>
            <tr style="height: 81px;">
            <td style="width: 122.267px; height: 81px;">
            <p>Organism</p>
            </td>
            <td style="width: 356.883px; height: 81px;">
            <p>Binomial designation of subject's species (format: ontology)</p>
            </td>
            <td style="width: 196.85px; height: 81px;">
            <p>Id: 9096</p>
            <p>Value: Homo sapiens</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Sex</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Biological sex of subject</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Male,femle</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Age</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Absolute age of subject at time point `Age event`</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>"65 yr"</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Ethnicity</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Ethnic group of subject (defined as cultural/language-based membership)</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>English, Kurds</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Race</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Racial group of subject (as defined by NIH)</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>White, American Indian or Alaska Native</p>
            </td>
            </tr>
           <!-- <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Relation to other subjects</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Subject ID to which `Relation type` refers</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>SUB1355648</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Relation type</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Relation between subject and `linked_subjects`, can be genetic or environmental (e.g.exposure)</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>father, daughter, household</p>
            </td>
            </tr> -->
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Study group description</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Designation of study arm to which the subject is assigned to</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Celiac disease (control)</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Diagnosis</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Diagnosis of subject</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Multiple myeloma</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Length of disease</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Time duration between initial diagnosis and current intervention</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>23 months</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Disease stage</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Stage of disease at current intervention</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Stage II</p>
            </td>
            </tr>
            <tr style="height: 70px;">
            <td style="width: 122.267px; height: 70px;">
            <p>Prior therapies for primary disease under study</p>
            </td>
            <td style="width: 356.883px; height: 70px;">
            <p>List of all relevant previous therapies applied to subject for treatment of `Diagnosis`</p>
            </td>
            <td style="width: 196.85px; height: 70px;">
            <p>melphalan/prednisone</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Immunogen/agent</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Antigen, vaccine or drug applied to subject at this intervention</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>bortezomib</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Intervention definition</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Description of intervention</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>systemic chemotherapy, 6 cycles, 1.25 mg/m2</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Other relevant medical history</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Medical history of subject that is relevant to assess the course of disease and/or treatment</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>MGUS, first diagnosed 5 years prior</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px; background-color: #ffd9b3;">
            <p>SAMPLE</p>
            </td>
            <td style="width: 356.883px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Biological sample ID</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Sample ID assigned by submitter, unique within study</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>SUP52415</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Sample type</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>The way the sample was obtained, e.g. fine-needle aspirate, organ harvest, peripheral venous puncture</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>Biopsy</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Tissue</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>The actual tissue sampled, e.g. lymph node, liver, peripheral blood</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Bone marrow</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Anatomic site</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>The anatomic location of the tissue, e.g. Inguinal, femur</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Iliac crest</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Collection time event (sample)</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Event in the study schedule to which `Sample collection time` relates to</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>Primary vaccination</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px; background-color: #ffd9b3;">
            <p>PCR TARGET</p>
            </td>
            <td style="width: 356.883px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Target locus for PCR</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Designation of the target locus according to IMGT nomenclature</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>IGH,IGK,IGL,TRA,TRB,TRD,TRG</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Forward PCR primer target location</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Position of the primer set that used for the 5' end.</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>5’ utr</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Reverse PCR primer target location</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Position of the primer set that used for the 3' end.</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>Constant region</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px; background-color: #ffd9b3;">
            <p>NUCLEIC ACID PROCESSING</p>
            </td>
            <td style="width: 356.883px; height: 58px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 58px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Target substrate</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>The class of nucleic acid that was used as primary starting material for the following procedures</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>RNA/DNA</p>
            </td>
            </tr>
           <!-- <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Library generation method</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Generic type of library generation</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>RT(oligo-dT)+TS(UMI)+PCR</p>
            </td>
            </tr> -->
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Library generation protocol</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Description of processes applied to substrate to obtain a library that is ready for sequencing</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>cDNA was generated using</p>
            </td>
            </tr>
            <!-- <tr style="height: 118px;">
            <td style="width: 122.267px; height: 118px;">
            <p>Complete sequences</p>
            </td>
            <td style="width: 356.883px; height: 118px;">
            <p>To be considered `complete`, the procedure used for library construction MUST generate sequences that 1) include the first V segment codon that encodes the mature polypeptide chain (i.e. after the leader sequence) and 2) include the last complete codon of the J segment (i.e. 1 bp 5' of the J-&gt;C splice site) and 3) provide sequence information for all positions between 1) and 2). To be considered `complete &amp; untemplated`, the sections of the sequences defined in points 1) to 3) of the previous sentence MUST be untemplated, i.e. MUST NOT overlap with the primers used in library preparation.</p>
            </td>
            <td style="width: 196.85px; height: 118px;">
            <p>partial/complete/&rdquo;complete+untemplated&rdquo;</p>
            </td>
            </tr> -->
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px; background-color: #ffd9b3;">
            <p>SEQUENCING RUN</p>
            </td>
            <td style="width: 356.883px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 46px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Total reads</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Number of usable reads for analysis (functional clones)</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>10365118</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Sequencing platform</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Designation of sequencing instrument used</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Alumina LoSeq 1000</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Sequencing length</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Read length in bases for each direction</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Short reds, Full length </p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Date of sequencing run</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Date of sequencing run</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>2016-12-16 (date)</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px; background-color: #ffd9b3;">
            <p>GENOTYPE AND HAPLOTYPE PROCESSING PROTOCOL</p>
            </td>
            <td style="width: 356.883px; height: 58px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            <td style="width: 196.85px; height: 58px; background-color: #ffd9b3;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Processing version</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p> Indicate the version of the processing pipeline. </p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>Full_Pipeline_11_07_19</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Aligner tool</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Indicate which computational tool was used to perform V(D)J alignment</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>IgBLAST&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 58px;">
            <td style="width: 122.267px; height: 58px;">
            <p>Aligner tool version</p>
            </td>
            <td style="width: 356.883px; height: 58px;">
            <p>Version number and / or date that indicate which computational tool was used to perform V(D)J alignment</p>
            </td>
            <td style="width: 196.85px; height: 58px;">
            <p>1.7.0</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Preprocessing tool</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>indicate which computational tool was used to perform initial processing of the data (pRESTO)</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>&nbsp;</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Germline gene set</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p> The reference of sequences which the aligner used. </p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p> IMGT full - version 4/12/2018</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Genotype tool</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Indicate which computational tool was used to perform V(D)J genotyping</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>TigGER</p>
            </td>
            </tr>
            <tr style="height: 46px;">
            <td style="width: 122.267px; height: 46px;">
            <p>Genotyping tool version</p>
            </td>
            <td style="width: 356.883px; height: 46px;">
            <p>Indicate the version of computational tool that was used to perform V(D)J genotyping</p>
            </td>
            <td style="width: 196.85px; height: 46px;">
            <p>0.3.1</p>
            </td>
            </tr>
            </tbody>
</table>
                </div>


            </div>
        </div>

        <div id="Submission" class = "w3-container ug_section">
            <div  class="ug_section_header">
            <h2><b>Data Submission</b></h2>
            </div>
        </div>

        <div class="w3-container ug_section">
              <h5>A straightforward submission form is available upon request via our <b>‘Discussion Forum’</b>.
                  Submitted forms are validated and the associated data processed by the site administrator.
                  This will allow the repository to grow, and for contributors to receive appropriate credit from database users.</h5>
            <h3>  <a href="https://groups.google.com/forum/#!forum/vdjbase-discussion" target="_blank"><button class="button3">Go to Discussion Forum</button></a></h3>
        </div>

        <div id="Summary" class="w3-container ug_section">
            <div  class="ug_section_header">
            <h2><b>Data Summary</b></h2>
            </div>
        </div>

        <div class="w3-container ug_section">
            <h5>Currently we have populated the database with more than 500 samples,
              which are associated with various diseases (e.g, MS, celiac, HCV, influenza)
                and tissue types (e.g, brain lesion, lymph node, blood) originating from ten studies.</h5>
            <h5> On the <a href="{% url 'database:explore-data' %}"><b>'Explore Data'</b></a> page you can find a summary of number of studies, samples
                and their related metadata currently in the database.</h5>
            <h3>  <a href="{% url 'database:explore-data' %}" target="_blank"><button class="button2">Go to Explore-Data page</button></a></h3>
        </div>

        <div id="Questions" class="w3-container ug_section">
            <div  class="ug_section_header">
            <h2><b>Frequently Asked Questions (FAQ)</b></h2>
                <h5> If you have any problems with VDJbase, or would like to ask questions or suggest enhancements, visit our <a href="https://groups.google.com/forum/#!forum/vdjbase-discussion" target="_blank">discussion forum</a>! </h5>
            </div>
        </div>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .collapsible {
          background-color: #777;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }

        .active, .collapsible:hover {
          background-color: #555;
        }

        .content {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
        }
        </style>
        <button class="collapsible">How to use the data search table?</button>
        <div class="content">
          <p>Data table can be searched individually by entering a search term in the input field at the top of the table. The search starts after pressing the 'Search’.
            Multiple objects can be used for sorting by holding the "Ctrl key" down while clicking on a further object (for example in studies and alleles fields). The search can be performed for one or more search terms. In case of more than one term the default combination is the logical AND. </p>
        </div>
        <button class="collapsible">How can I Find the sample metadata?</button>
        <div class="content">
          <p>Specific sample can be searched individually by entering a sample name in the input field “Name” at the top right of the page.
            Click on the sample row to view added information about this sample.</p>
          <img class="ug_image"  src="{% static 'images/open_metadata.png' %}">
        </div>
        <button class="collapsible">How can a VDJbase project number be associated with a study ID?</button>
        <div class="content">
          <p>The "Explore Data" page contains a table that links the VDJbase project number with the study ID. <br>
          <a href="{% url 'database:explore-data' %}" target="_blank"><button class="button2">Go to Explore-Data page</button></a></p>
          <img class="ug_image"  src="{% static 'images/projects_table.png' %}">
        </div>
        <button class="collapsible">How the genotype/haplotype was inferred?</button>
        <div class="content">
          <p>You can find this details on the <a href="{% static 'images/VDJbase_documentation.pdf' %}" download="Graphs_Documentation" target="_blank"><button class="button">documentation file</button></a>
          </p>
        </div>
        <button class="collapsible">Which tools&version was used to infer genotype?</button>
        <div class="content">
          <p>The rows in the table can be opened for sample’s metadata by clicking on a sample row. Click on the “Genotype” row to view versions information for genotype inference.</p>
        </div>
         <button class="collapsible">Find the sequence protocol of specific sample</button>
        <div class="content">
          <p>Specific sample can be searched individually by entering a sample name in the input field “Name” at the top right of the page.
            The rows in the table can be opened for sample’s metadata by clicking on a sample row. Click on the “Sequence Protocols” row to view added information about this sequence protocol.</p>
       <img class="ug_image"  src="{% static 'images/sample_protocol.png' %}">
        </div>
        <button class="collapsible">How can I create a visualization graph for selected data?</button>
        <div class="content">
          <p>The search section in the top is intended to filter the samples according to selectable criteria , and the graphs are the output of the filtered samples. Users can select samples for visualization by checking the square next to each sample. In case the user does not select specific samples, graphs will be generated for all the filtered samples.
            Users can generate a plot for single individual by the right genotype and haplotype columns. There are three format options: downloadable PDF, interactive graph by HTML, and downloadable summary statistics table file. Graphs for comparing multiple samples are provided by the left black bar.
        </p>
        </div>
        <button class="collapsible">Find an explanation for optional exports graphs</button>
        <div class="content">
          <p>Find an explanation for optional exports graphs by the <a href="{% static 'images/VDJbase_documentation.pdf' %}" download="Graphs_Documentation" target="_blank"><button class="button">documentation file</button></a></p>
        </div>
        <button class="collapsible">How can I filter the visualization output?</button>
        <div class="content">
          <p>If there are multiple genes/alleles listed for the condition in which you are interested, you can focus on those of most interest to you by selecting from filter options in the left column called “Advanced Filters”. The ‘advanced filter’ allows filtering out the figures by gene type, pseudogenes, ORF’s genes and the certainty level of inference (Kdiff). The defaults are zero Kdiff and pseudogenes are filtered out.</p>
        </div>
        <button class="collapsible">How can I search by the database alleles?</button>
        <div class="content">
          <p>Query for allele by selecting 'Alleles'  from the pull-down menu of the “Database Search” button on the navigation bar. This page provides a summary collection of the alleles that appear in the database. It provides information about their sequence and indicates the number of samples that contain the allele in their genotype. Clicking on this number opens a new page with these samples.</p>
          <img class="ug_image"  src="{% static 'images/allele_search.png' %}">
        </div>
        <button class="collapsible">Find summary statistics table of genotype file</button>
        <div class="content">
          <p>The genotype column contains four format options: downloadable PDF, interactive graph by HTML, graph by PDF, and downloadable summary statistics table file.</p>


        </div>

        <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>

        {% include 'static_footer.html' %}

    </div>
</body>
</html>
