<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    {%  include 'links.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <link rel="stylesheet" href="{% static 'css/samples.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<form class="form-inline" action="" method="get" enctype="multipart/form-data">
{% load allele_seq_func %}
    <div class = "search_box">
        <div class="w3-container">
            {% include 'temp/search_form_up.html' %}
            <button id="search_submit" name="search_submit" type="submit" class="btn w3-teal"><span class="glyphicon glyphicon-search"></span>Search</button>
            <button type="reset" class="btn btn-default">Clear</button>
            <button id="download" name="download" type="submit" class="btn w3-teal">Download</button>
        </div>
    </div>
    <div class="w3-container" style="overflow: auto;">
    <table class="table">
        <tr>
            <th>Name</th>
            <th class="col-md-2" data-toggle="tooltip" data-placement="top" data-container="body" title="IMGT-aligned nucleotide sequence (click on row to expand)">Sequence (click to view)</th>
            <th>Sequence length</th>
            <th>Identical sequences</th>
            <th>Max. kdiff</th>
            <th data-toggle="tooltip" data-placement="top" data-container="body" title="The number of subjects in which the allele has been observed (click to see list in Samples view)">Observations in population</th>
            <th>Notes (click to view)</th>
        </tr>
        {% if all_alleles %}
            {% for allele in all_alleles %}
               <tr class = "{{allele.pk}} hover">
                   <td>{{allele.name}}</td>
                    <td>
                        <p class = "seq_{{allele.pk}}" style="display: none; font-family: 'Courier New', Courier, monospace;">
                            {% if allele.seq %}
                                {% show_seq allele.seq %}
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        {% if allele.seq_len %}
                            {{allele.seq_len}}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>{% if allele.similar is not None %} {% show_similar allele.similar %} {% endif %}</td>
                    <td>{% if allele.max_kdiff != 0 %} {{ allele.max_kdiff }} {% endif %}</td>
                    <td><a href="{% url 'database:sample-data' %}?alleles_s={{allele.id}}"><b>{{allele.appears}}</b></a></td>
                    <td>
                        {%  if allele.get_confidence_count %}
                            {{ allele.get_confidence_count }}
                        {% endif %}
                        <p class = "seq_{{allele.pk}}" style="display: none;">
                            {% for rep in allele.get_confidence_reports %}
                                {{ rep.notes | safe }}
                                <br><br>
                            {% endfor %}
                        </p>
                    </td>
               </tr>
            {% endfor %}
        {% else %}
        <tr><td>there isn't any data</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {% endif %}
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>
    </div>
    <div class="w3-container">
        {% include 'temp/search_form_bottom.html' %}
    </div>
</form>
</body>
<script>
    {% if all_alleles %}
        {% for allele in all_alleles %}
            $(document).ready(function(){
                 $(".{{allele.pk}}").click(function(){
                    $(".seq_{{allele.pk}}").slideDown();
                });

                 $(".{{allele.pk}}").dblclick(function(){
                    $(".seq_{{allele.pk}}").slideUp();
                });

            });
        {% endfor %}
    {% endif %}
</script>
</html>
