<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>VDJbase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'links.html' %}

    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <link rel="stylesheet" href="{% static 'css/samples.css' %}">

    {% if messages %}
    <script>
        $(document).ready(function(){
            $("#message_modal").modal('show');
        });
    </script>
    {% endif %}
</head>

<body>
{% include 'navbar.html' %}
<div class="w3-container">
    <form class="form-inline" action="" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col" style="width:13%; min-width:156px;">
    <img src="{% static 'images/logo_white_2.png' %}" style="width:100%; align:left;" alt="logo">
        <div class="w3-black w3-text-grey w3-card-3">
            <div class="w3-container">
            <br>
                <div class="w3-large" data-toggle="tooltip" data-placement="right" title="Graphs are based on selected samples, or all displayed samples if there is no selection. Use Search to identify samples of interest.">
                    <b><i class="fa fa-bar-chart fa-fw w3-margin-right w3-text-teal"></i>Graphs</b>
                </div>

                <div id="ex_filter_alleles" data-toggle="tooltip" data-placement="right" title="Graphs will be based on selected samples. Advanced filters allow you to restrict the data within those samples that will be used."> Advanced Filters&nbsp; <p class="fa fa-caret-down"> </p>
                   </div>
                <div id="filter_alleles" style="">
                   {% for field in filter_by_gene %}
                       <div class="row w3-container">
                       <label class="filter_label" id="control-label-{{field.name}}" style="">{{field.label_tag}}  <p class="fa fa-caret-down"></p></label>
                       <div id="search_box-{{field.name}}" style="display: none;">{{field}}</div>
                       </div>
                   {% endfor %}
                </div>

                <div data-toggle="tooltip" data-placement="right" title="Display a graphical analysis of alleles observed in selected samples (For more details see the documentation file).">
                    <button class="w3-container w3-center w3-round-xlarge w3-teal btn-side" style="width:90%" type="button" data-toggle="modal" data-target="#genotype_modal">Genotype</button>
                </div>

                <div data-toggle="tooltip" data-placement="right" title="Display haplotype details by a graph (For more details see the documentation file).">
                    <button class="w3-container w3-center w3-round-xlarge w3-teal btn-side" style="width:90%" type="button" data-toggle="modal" data-target="#haplotype_modal">Haplotypes</button>
                </div>

                <div data-toggle="tooltip" data-placement="right" title="Display the frequency at which each allele is observed across the selected samples (For more details see the documentation file).">
                    <button class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="button" data-toggle="modal" data-target="#Allele_dis_modal">Allele distribution</button>
                </div>

                <div data-toggle="tooltip" data-placement="right" title="Display the frequency at which each gene is present heterozygously across the selected samples (For more details see the documentation file)">
                    <button class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="button" data-toggle="modal" data-target="#Hetero_modal">Heterozygous</button>
                </div>

                <div data-toggle="tooltip" data-placement="right" title="Display the number of alleles of each gene used in the selected samples (For more details see the documentation file).">
                    <button class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="button" data-toggle="modal" data-target="#allele_usage_modal">Allele usage</button>
                </div>

                <hr style="border-top: dotted 1px; margin-bottom: 0px">

                <div data-toggle="tooltip" data-placement="right" title="Display gene expression levels in the selected samples. For more details see the documentation file">
                    <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="button" data-toggle="modal" data-target="#freqs_modal">Gene usage</button>
                </div>

                <hr>

                <div class="w3-large" data-toggle="tooltip" data-placement="right" title="Here you can download files according your search results">
                    <b><i class="fa fa-file-text fa-fw w3-margin-right w3-text-teal" ></i>Data Download</b>
                </div>


                <div data-toggle="tooltip" data-placement="right" title="Download data files for selected samples (.zip format)">
                   <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="submit" name="action" value="table">Download Selected</button>
                </div>

                <hr>

                <p><i class="fa fa-question-circle fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="{% url 'database:user-guide' %}">Help</a></p>
                <p><i class="fa fa-question-circle fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://groups.google.com/forum/#!forum/vdjbase-discussion">Support Forum</a></p>
                <div data-toggle="tooltip" data-placement="right" title="Open documentation file for more details  (.pdf format)">
                    <a href="{% static 'images/VDJbase_documentation.pdf' %}" download="Graphs_Documentation" target="_blank"><button class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%"  type="button">Documentation</button></a>
                </div>
                <br><br>


            </div>
    </div>

   <!-- End Left Column -->
   </div>

    <!-- Right Column -->
    <div class="w3-rest w3-container" style="overflow: auto;">
        <div class="w3-row">
            {% include 'temp/search_form_up.html' %}
        </div>

        <div class="w3-row">
            <div id="advance_search_box">
                <div class="w3-col" style="width:55%">
                    {% include 'temp/search_form_advance.html' %}
                </div>
                <div class="w3-col" style="width:45%">
                    {% for field in filter_samples_by_gene %}
                    <div class="form-group" style="margin-right: 10px">
                        <label class="control-label">{{field.label_tag}}</label>
                        <div class="" id="1search_box">{{field}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

       <div class = "search_box">
           <button id="search_submit" type="submit" name="action" value="submit" class="btn w3-teal">Search  <span class="glyphicon glyphicon-search"></span></button>
           <button type="button" id="advance_btn" class="advance_btn btn btn-default">Advanced Search</button>
           <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

           <button onclick="window.location.href='{% url 'database:sample-data' %}';" type="button" class="btn btn-default" target="">Clear search</button>
           <button class="btn w3-teal" onclick="uncheckAll()" type="button">Clear Selection</button>
       </div>

        <table class="table">
            <tr>
                <th><input type="checkbox" onClick="toggle(this)" style="width:20px;height:20px;"/></th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="The VDJbase name format is [STUDY_INDIVIDUAL_SAMPLE]">Name</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="Binomial designation of subject's species ">Organism</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="Designation of the target locus according to IMGT nomenclature(IG locus Heavy/Light chain)">Target locus for PCR</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="Number of usable reads for analysis (functional clones)">Total reads</th>
                <th>Cell Type</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="Library generation method(V indicates that UMI included in read)">UMI</th>
                <th>Novel Alleles</th>
                <th>Genotype</th>
                <th data-toggle="tooltip" data-placement="top" data-container="body" title="Hover over haplotyping gene to download data">Haplotype (hover over for details)    </th>
            </tr>
            {% if all_samples %}
                {% for sample in all_samples %}
                    <tr class="hover" id = "{{sample.pk}}">
                       {% if sample.pk in selected %}
                            <td><input type="checkbox" name="checks" value="{{ sample.pk }}" checked><input type="hidden" name="checked_before" value="{{ sample.pk }}"></td>
                       {% else %}
                            <td><input type="checkbox" name="checks" value="{{ sample.pk }}" style="width:18px;height:18px;"/></td>
                       {% endif %}
                       <td>{{sample.name}}</td>
                       <td>{{sample.tissue_pro.species}}</td>
                       <td>{{sample.chain}}</td>
                       <td>{{sample.row_reads}}</td>
                       <td>{{sample.tissue_pro.cell_type}} - {{sample.tissue_pro.sub_cell_type}}</td>
                       <td>
                            {% if sample.seq_protocol.umi %}
                                <p class="glyphicon glyphicon-ok"></p>
                            {% else %}
                                <p class="glyphicon glyphicon-remove"></p>
                            {% endif %}
                       </td>
                        <td><a href="{% url 'database:allele-data' %}?sample={{sample.name}}&similar=&show_ambiguous=on&show_novel=on&show_low_confidence=on">{{ sample.get_novel_count }}</a></td>
                       <td>
                            {% if sample.genotype %}
                                <a href="{% url 'database:down-geno' sample.name %}"><p class="info glyphicon glyphicon-floppy-save">
                                    <span class="popup">Download genotype file</span>
                                </p> </a> &nbsp;
                                {% if sample.genotype_stats %}
                                <a href="{% url 'database:down-stats' sample.name %}"><p class="info glyphicon glyphicon-cog">
                                    <span class="popup">Download statistics file</span>
                                </p> </a> &nbsp;
                                {% endif %}
                                <a href="{% url 'database:geno-graph' sample_name=sample.name html=1 %}" target="_blank"><p class="info glyphicon glyphicon glyphicon-stats">
                                    <span class="popup">Interactive genotype graph</span>
                                </p></a> &nbsp;
                                <a href="{% url 'database:geno-graph' sample_name=sample.name html=0 %}"><p class="info glyphicon glyphicon fa fa-file-pdf-o">
                                    <span class="popup">PDF genotype graph</span>
                                </p></a>
                            {% endif %}
                       </td>
                       <td>
                           {% if sample.haplotype %}
                                {% for haplo in sample.haplotype.all %}
                                    <div class="info fa"> {{ haplo.by_gene }}
                                    <div class="popup">
                                    <a href="{% url 'database:down-haplotype' haplo.id %}"><p class="glyphicon glyphicon-floppy-save"></p> </a>
                                    <a href="{% url 'database:haplotype-graph' id=haplo.id html=1 %}" target="_blank"><p class="glyphicon glyphicon glyphicon-stats"></p></a>
                                    <a href="{% url 'database:haplotype-graph' id=haplo.id html=0 %}"><p class="glyphicon glyphicon fa fa-file-pdf-o"></p></a>
                                    </div> </div>
                                {% endfor %}
                           {% endif %}
                       </td>
                    </tr>
                    <tr class="hover" id="info_{{sample.pk}}-study" style="display:none;"><td></td><td colspan="13"><div style="position:static;">
                        <h4>Study</h4>
                        <div class="extra" id="{{sample.pk}}-study" style="display:none;">
                            <p>Project:&nbsp;{{sample.study.name}}</p>
                            <div>Lab address<p class="info fa fa-question-circle">
                                <span class="popup">Institution and institutional address of data collector</span></p>:&nbsp; {{sample.study.institute}}</p></div>
                            <div>Researcher<p class="info fa fa-question-circle">
                                <span class="popup">Full name of the data collector, i.e. the person who is legally responsible for data collection and release.</span></p>: {{sample.study.researcher}}</div>
                            <p>Number of subjects:&nbsp; {{sample.study.num_subjects}}</p>
                            <p>Number of samples:&nbsp; {{sample.study.num_samples}}</p>
                            <p data-toggle="tooltip" data-placement="top" data-container="body" title="Link to publication">Relevant publication: <a href="{{sample.study.reference}}" target="_blank">{{sample.study.reference}}</a></p>
                            <div>Contact information<p class="info fa fa-question-circle">
                                <span class="popup">contact information of the data collector, i.e. the lab link of the person who is legally responsible for data collection and release. </span></p>:&nbsp; <a href="{{sample.study.contact}}">{{sample.study.contact}}</a> </p></div>
                            {% if sample.study.accession_reference %}
                                <div>Study ID<p class="info fa fa-question-circle">
                                <span class="popup">Unique ID assigned by study registry</span></p>:&nbsp;<a href="{{sample.study.accession_reference}}" target="_blank">{{sample.study.accession_id}} </a></p>
                                </div>
                            {% else %}
                                <p>Study ID:&nbsp; {{sample.study.accession_id}}</p>
                            {% endif %}
                        </div>
                    </div></td></tr>
                    <tr class="hover" id="info_{{sample.pk}}-patient" style="display:none;"><td></td><td colspan="13"><div style="position:static;">
                        <h4>Subject</h4>
                        <div class="extra" id="{{sample.pk}}-patient" style="display:none;">
                            <p>Name: {{sample.patient.name}}</p>
                            <div>Subject ID<p class="info fa fa-question-circle">
                                <span class="popup">Subject ID assigned by submitter, unique within study (name in paper)</span></p>:&nbsp; {{sample.patient.name_in_paper}}</p></div>
                            <div>Sex <p class="info fa fa-question-circle">
                                <span class="popup">Biological sex of subject</span></p>:&nbsp; {{sample.patient.sex}}</p></div>
                            <div>Age <p class="info fa fa-question-circle">
                                <span class="popup">Absolute age of subject at time point `Age event`</span></p>:&nbsp; {{sample.patient.age}}</p></div>
                            <div >Ethnicity <p class="info fa fa-question-circle">
                                <span class="popup">Ethnic group of subject (caucasian/hispanic etc).</span></p>:&nbsp; {{sample.patient.ethnic}}</div>
                            <div >Study group description<p class="info fa fa-question-circle">
                                <span class="popup">The subject of the study to which the participant belongs.</span></p>:&nbsp; {{sample.patient.cohort}}</div>
                            <div >Diagnosis<p class="info fa fa-question-circle">
                                <span class="popup"> Indicate whether the participant is healthy, and if not which known diseases they have.</span>
                                </p>:&nbsp; {{sample.patient.status}}</div>
                            </div>
                    </div></td></tr>
                    <tr class="hover" id="info_{{sample.pk}}-seq" style="display:none;"><td></td><td colspan="13"><div style="position:static;">
                        <h4>Sequence Protocols</h4>
                        <div class="extra" id="{{sample.pk}}-seq" style="display:none;">
                            <div>Library generation method(UMI)<p class="info fa fa-question-circle">
                                <span class="popup">Generic type of library generation</span>
                                </p>:&nbsp;{{sample.seq_protocol.umi}}</div>
                            <p>Target substrate (DNA/RNA):&nbsp; {{sample.seq_protocol.helix}}</p>
                            <div>Sequencing platform <p class="info fa fa-question-circle"><span class="popup">Designation of sequencing instrument </span></p>:&nbsp; {{sample.seq_protocol.sequencing_platform}}</div>
                            <p>Read lengths:&nbsp; {{sample.seq_protocol.sequencing_length}}</p>
                            <div >Reverse PCR primer target location <p class="info fa fa-question-circle">
                                <span class="popup">Position of the primer set that used for the 3' end.</span>
                                </p>:&nbsp; {{sample.seq_protocol.primers_3_location}}</div>
                            <div >Forward PCR primer target location<p class="info fa fa-question-circle">
                                <span class="popup">Position of the primer set that used for the 5' end (Primers 5/Race location).</span>
                                </p>:&nbsp; {{sample.seq_protocol.primers_5_location}}</div>
                        </div></div></td></tr>
                    <tr class="hover" id="info_{{sample.pk}}-tissue" style="display:none;"><td></td><td colspan="13"><div style="position:static;">
                        <h4>Tissue Processing</h4>
                        <div class="extra" id="{{sample.pk}}-tissue" style="display:none;">
                            <div>Organism <p class="info fa fa-question-circle"><span class="popup">Subject's species</span></p>:&nbsp; {{sample.tissue_pro.species}}</div>
                            <div>Tissue <p class="info fa fa-question-circle">
                                <span class="popup">The actual tissue sampled, e.g. lymph node, liver, peripheral blood</span></p>:&nbsp; {{sample.tissue_pro.tissue}}</div>
                            <p>Cell type:&nbsp; {{sample.tissue_pro.cell_type}}</p>
                            <div>Cell subset type <p class="info fa fa-question-circle">
                                <span class="popup">Commonly-used designation of isolated cell population</span></p>:&nbsp; {{sample.tissue_pro.sub_cell_type}}</div>

                            <div >Isotype<p class="info fa fa-question-circle">
                                <span class="popup">Indicate which isotypes (IgG, IgA etc.) were included in the analysis.</span>
                                </p>:&nbsp; {{sample.tissue_pro.isotype}}</div>
                            <p>Number_of_cells:&nbsp; {{sample.tissue_pro.number_of_cells}}</p>
                        </div>
                    </div></td></tr>
                    <tr class="hover" id="info_{{sample.pk}}-geno" style="display:none;"><td></td><td colspan="13"><div style="position:static;">
                        <h4>Genotype and Haplotype processing protocol</h4>
                        <div class="extra" id="{{sample.pk}}-geno" style="display:none;">
                            <div >Processing version<p class="info fa fa-question-circle">
                                <span class="popup">indicate the version of the processing pipeline.</span>
                                </p>:&nbsp; {{sample.geno_detection.name}}</div>
                            <div >Aligner tool <p class="info fa fa-question-circle">
                                <span class="popup">indicate which computational tool was used to perform V(D)J alignment (Igblast, IMGT? ***give more examples here*** etc.)</span>
                                </p>:&nbsp; {{sample.geno_detection.aligner_tool}}</div>
                            <p>Aligner tool version:&nbsp; {{sample.geno_detection.aligner_ver}}</p>
                            <div >Germline gene set <p class="info fa fa-question-circle">
                                <span class="popup">The reference of sequences which the aligner used.</span>
                                </p>:&nbsp; {{sample.geno_detection.aligner_reference}}</div>
                            <div >Genotyping tool <p class="info fa fa-question-circle">
                                <span class="popup">indicate which computational tool was used to perform V(D)J genotyping (TIgGER, ***give more examples here*** etc.)</span>
                                </p>:&nbsp; {{sample.geno_detection.geno_tool}}</div>
                            <p>Genotyping tool version:&nbsp; {{sample.geno_detection.geno_ver}}</p>
                        </div>
                    </div></td></tr>
                {% endfor %}
            {% else %}
            <tr><td colspan="13">No data.</td></tr>
            {% endif %}
            <tr><td colspan="13"></td></tr>
        </table>

        <div hidden>
            {% for sel in selected %}
                <input type="checkbox" name="selects" value="{{ sel }}" checked>
            {% endfor %}
        </div>

    </div>    <!-- End Right Column -->
    </div>
    <div class="w3-container">
    {% include 'temp/search_form_bottom.html' %}
    </div>

    <!--Loading the modals (pop up windows)-->
    {% include 'temp/modals.html' %}

    </form>
</div>

</body>

<script>
$(document).ready(function(){
    $("#advance_btn").click(function(){
        $("#advance_search_box").toggle();
    });
});

$(document).ready(function(){
    $("#ex_filter_alleles").click(function(){
        $("#filter_alleles").toggle();
    });
});
</script>
<script>
{% for field in filter_by_gene %}
    $(document).ready(function(){
        $("#control-label-{{field.name}}").click(function(){
            $("#search_box-{{field.name}}").toggle();
        });
    });
{% endfor %}
{% if all_samples %}
    {% for sample in all_samples %}
        $(document).ready(function(){
            $("#{{sample.pk}}").click(function(){
                $("#info_{{sample.pk}}-study").toggle();
                $("#info_{{sample.pk}}-seq").toggle();
                $("#info_{{sample.pk}}-patient").toggle();
                $("#info_{{sample.pk}}-tissue").toggle();
                $("#info_{{sample.pk}}-geno").toggle();
            });
            $("#{{sample.pk}} input").click(function(e){
                e.stopPropagation();
            });
        });
        $(document).ready(function(){
            $("#info_{{sample.pk}}-patient").click(function(){
                $("#{{sample.pk}}-patient").slideDown();
            });

            $("#info_{{sample.pk}}-study").click(function(){
                $("#{{sample.pk}}-study").slideDown();
            });

            $("#info_{{sample.pk}}-seq").click(function(){
                $("#{{sample.pk}}-seq").slideDown();
            });

            $("#info_{{sample.pk}}-tissue").click(function(){
                $("#{{sample.pk}}-tissue").slideDown();
            });

            $("#info_{{sample.pk}}-geno").click(function(){
                $("#{{sample.pk}}-geno").slideDown();
            });

            $("#info_{{sample.pk}}-patient").dblclick(function(){
                $("#{{sample.pk}}-patient").slideUp();
            });

            $("#info_{{sample.pk}}-study").dblclick(function(){
                $("#{{sample.pk}}-study").slideUp();
            });

            $("#info_{{sample.pk}}-seq").dblclick(function(){
                $("#{{sample.pk}}-seq").slideUp();
            });

            $("#info_{{sample.pk}}-tissue").dblclick(function(){
                $("#{{sample.pk}}-tissue").slideUp();
            });

            $("#info_{{sample.pk}}-geno").dblclick(function(){
                $("#{{sample.pk}}-geno").slideUp();
            });
        });
    {% endfor %}
{% endif %}

</script>
<script>
    function uncheckAll() {
      $("input[type='checkbox']:checked").prop("checked", false)
    }
</script>
<script>
    function toggle(source) {
      checkboxes = document.getElementsByName('checks');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
</script>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
    });
</script>

</html>

