.fa-file-text-o {
    margin-right:10px;
    color:#00cccc;
}

.w3-row {
    padding-bottom: 64px;
}

/* -----for responsive charts ---- */

.w3-chart {
  width: 100%;
  min-height: 400px;
}
.w3-chart-row {
  margin:0 !important;
}

.exp_image {
    border: none;
    width: 100%;
    height: 100%;
}

/*-----------------------------*/
/* ----for responsive table ---*/
/*-----------------------------*/
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  /* border: 1px solid #ddd; */s
}

th, td {
  text-align: center;
  padding: 20px;
}

tr:nth-child(even){background-color: #f2f2f2}

/* button and product-feature */
/*-----------------------------*/
.button {
  display: inline-block;
  padding: 14px 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border-radius: 25px;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 300ms ease-out, color 300ms ease-out, border-color 300ms ease-out;
  transition: background 300ms ease-out, color 300ms ease-out, border-color 300ms ease-out;
}
.button,
a.button {
  color: #fff;
  text-decoration: none;
}

.button.secondary {
  background-color: #1CB2AC;
  border: 2px solid #1CB2AC;
  margin: 10px;
}

.button-final{
position: relative;
left: 40%;
right: 30%;
bottom: 15%;
top:60%;
margin: auto;
}

.product-feature.template .feature-column {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: right;
}
.product-feature.template .feature-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.product-feature.template .feature-container:before,
.product-feature.template .feature-container:after {
  content: " ";
  display: table;
}
.product-feature.template .feature-container:after {
  clear: both;
}
.product-feature.template .feature-container:before,
.product-feature.template .feature-container:after {
  content: " ";
  display: table;
}
.product-feature.template .feature-container:after {
  clear: both;
}

.product-feature.template .feature-hero-unit {
  color: white;
  text-align: center;
  height: 350px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.product-feature.template .feature-hero-unit h1 {
  margin: 0;
  font-size: 60px;
  color: white;
  line-height: 70px;
  margin-bottom: 30px;
}
.product-feature.template .feature-hero-unit p {
  font-weight: 400;
  width: 50%;
  display: inline-block;
}
.product-feature.template .feature-hero-unit .feature-container {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.product-feature.template .feature-hero-unit .feature-container h1 {
  text-transform: capitalize;
}

