/* Specific styles for homepage */

/*--------- SlideShow ------*/

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
max-width: 1100px;
position: relative;
margin: auto;
}

/* Caption text */
.slideshow_text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.slideshow_numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.slideshow_dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.slideshow_active {
background-color: #717171;
}

.slideshow_text-block {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    background-color: grey;
    color: white;
     text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.slideshow_image {
    width: 100%;
    height: auto;
    text-align:center";
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 3s;
animation-name: fade;
animation-duration: 3s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


/* Picture for sharing data */

.Sharing {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sharing_image {
 display: block;
 width: 100%;
 height: auto;

}

.title-text {
    padding-bottom: 10px;
    line-height: 40px;
}

