img {
    max-width: 100%;
}

.search_box {
    margin: 15px;
    margin-left: 0;
    margin-top: 0;
}
#advance_search_box {
    display: none;


}
.advance_btn {
    margin-top: 22px;
}

.hover:hover{
     background-color: GhostWhite ;
}

.info{
    position: relative;
}
.info .popup {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the popup */
     padding-right: inherit;
    position: absolute;
    top:15px;
    right:0;
    z-index:999;
}
.info:hover .popup {
    display: inline-block;
}
.w3-col {
    margin-top: -0%;
}
#ex_filter_alleles, .filter_label {
    color: DeepSkyBlue;
}

#filter_alleles {
    display: none;
}

.btn-side{
    height: 25px;
    width: 90%;
}
.sample-down{
    margin-top: -22.6px;
}
