/* Styles used throughout the website */

html,body,h1,h2,h3,h4 {
    font-family:"Lato", sans-serif;
  }

.fa {
    cursor:pointer;
 }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}

.modal-footer {
    text-align: center;
}

a {
  color: #266fb7;
}
