{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'links.html' %}
    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">

    <style>
    iframe{
        width: 100%;
        height: 900px;
    }
    </style>
</head>

<body>
{% load static %}
{% include 'navbar.html' %}

    <iframe src="{% url 'database:graph-present' %}{{ html_file }}" frameBorder="0"></iframe>
</body>
</html>
