{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'links.html' %}
    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">

    <style>
    iframe{
        width: 100%;
        height: 900px;
    }
    </style>
</head>

<body>
{% load static %}
{% include 'navbar.html' %}

<h1>Error:</h1>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

</body>
</html>
