{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VDJbase</title>
    {%  include 'links.html' %}
    <link rel="stylesheet" href="{% static 'css/vdjbase.css' %}">
    <style>
        iframe{
        width: 33%;
        height: 900px;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}

{% for col in srcs %}
    <div>
    {% for s in col %}
      <iframe src="{% url 'database:graph-present' %}{{ s }}" frameBorder="0"></iframe>
    {% endfor %}
    </div>
{% endfor %}
</body>
</html>
