
    <!-- The Modal of messages -->
<div class="modal" id="message_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="modal-title">Warning</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>


    <!-- The Modal of Genotype -->
<div class="modal" id="genotype_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Genotype graph</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group" style="margin-right: 10px;">
              <label class="control-label" id="control-graph-type">Type of graph:</label>
              <div class="modal-section">
                   <input type="radio" name="geno-type" value="heat" checked="checked">&nbsp;Heat map (all selected samples)<br>
                   <input type="radio" name="geno-type" value="list">&nbsp;List of genotypes (up to 20 selected samples)<br>
               </div>
              <label class="control-label">Showing graphs for:</label>
              <div class="modal-section">
                   <input type="radio" name="geno-select" value="sample" checked="checked">&nbsp;Each sample<br>
                   <input type="radio" name="geno-select" value="individual">&nbsp;Individual (takes representative sample for each subject)<br>
              </div>
              <label class="control-label" id="control-file-type">File type:</label>
              <div class="modal-section">
                  <input type="radio" name="genofile-type" value="pdf" checked="checked">&nbsp;PDF<br>
                  <input type="radio" name="genofile-type" value="html">&nbsp;HTML<br>
               </div>
              <label class="control-label">Kdiff threshold:</label> <input type="number" min=0 step=0.1 value=0 name="geno-k">
              <p  style="margin-top: 30px">Note: HTML output is interactive, but can take time to generate for large sample selections.</p>

          </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
           <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="submit" name="action" value="Geno">Generate graph</button>
      </div>

    </div>
  </div>
</div>


    <!-- The Modal of Haplotypes -->
<div class="modal" id="haplotype_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Haplotypes graphs</h4>
        <div>*Note: The graph will only be done just for the samples whose haplotype is done by the selected anchor.<br>
            &nbsp;It's recommended to filter the samples by the filed "Haplotype by" first.</div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div id="filter_haplotypes" style="">
              <label class="control-label">Showing graphs for:</label>
              <div class="modal-section">
                   <input type="radio" name="haplo_select" value="sample" checked="checked">&nbsp;Each sample<br>
                   <input type="radio" name="haplo_select" value="individual">&nbsp;Individual (takes representative sample for each subject)<br>
              </div>
               {% for field in haplotype_graph_form %}
               <div class="form-haplo" style="margin-right: 10px;">
                   <label class="control-label" id="{{field.name}}">{{field.label_tag}}  <p class="fa fa-caret-down"></p></label>
                   <div id="search-{{field.name}}">{{field}}</div>
               </div>
               {% endfor %}
           </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
           <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="submit" name="action" value="haplo">Generate graph</button>
      </div>

    </div>
  </div>
</div>


    <!-- The Modal of Allele distribution -->
<div class="modal" id="Allele_dis_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Allele distribution graph</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group" style="margin-right: 10px;">
              <label class="control-label" id="allele-dis-graph-amb">Ambiguous alleles:</label>
              <div class="modal-section">
                   <input type="radio" name="allele-dis-amb" value=0 checked="checked">&nbsp;Exclude<br>
                   <input type="radio" name="allele-dis-amb" value=1>&nbsp;Include <br>
              </div>
              <label class="control-label" id="allele-dis-graph-novel">Novel alleles:</label>
              <div class="modal-section">
                   <input type="radio" name="allele-dis-novel" value=0>&nbsp;Exclude<br>
                   <input type="radio" name="allele-dis-novel" value=1 checked="checked">&nbsp;Include <br>
              </div>
          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
           <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" type="submit" name="action" value="alleles">Generate graph</button>
      </div>

    </div>
  </div>
</div>


    <!-- The Modal of Heterozygous -->
<div class="modal" id="Hetero_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Heterozygous graph</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group" style="margin-right: 10px;">
              <label class="control-label" id="hetero-graph-alleles">Ambiguous alleles:</label>
              <div class="modal-section">
                   <input type="radio" name="hetero-amb" value=0 checked="checked">&nbsp;Exclude<br>
                   <input type="radio" name="hetero-amb" value=1>&nbsp;Include <br>
              </div>
          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
           <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" formtarget="_blank" type="submit" name="action" value="hetero">Generate graph</button>
      </div>

    </div>
  </div>
</div>


    <!-- The Modal of Alleles usage -->
<div class="modal" id="allele_usage_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Alleles Usage graph</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group" style="margin-right: 10px;">
              <label class="control-label" id="usage-graph-alleles">Ambiguous alleles:</label>
              <div class="modal-section">
                   <input type="radio" name="usage-amb" value=0 checked="checked">&nbsp;Exclude<br>
                   <input type="radio" name="usage-amb" value=1>&nbsp;Include <br>
              </div>
          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
           <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" style="width:90%" formtarget="_blank" type="submit" name="action" value="gene_alleles">Generate graph</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal of frequencies -->
<div class="modal" id="freqs_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Gene usage graph</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group" style="margin-right: 10px;">
              <label class="filter_label" id="control-label-dots">Display frequencies using:</label>
              <div class="modal-section">
                   <input type="radio" name="freq-dot" value=0 checked="checked">&nbsp;One sample from each selected subject<br>
                   <input type="radio" name="freq-dot" value=1>&nbsp;All selected samples<br>
               </div>
              <label class="filter_label" id="control-label-calc">Calculate frequencies by:</label>
              <div class="modal-section">
                   <input type="radio" name="calc-freq" value=0 checked="checked">&nbsp;Number of clones<br>
                   <input type="radio" name="calc-freq" value=1>&nbsp;Number of sequences<br>
               </div>
               <p>Note: Advanced Filters are not applied to this graph.</p>
          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
           <button class="action_btn w3-container w3-center w3-round-xlarge w3-teal" class="close" style="width:90%" type="submit" name="action" value="freqs">Generate graph</button>
      </div>

    </div>
  </div>
</div>
