<style>
    button {
        margin-top: 22px;
        margin-left: 10px;
    }
    span.fields{
        margin-right: 28px;
    }
</style>

{% block search %}
    <span class="fields">
        {% for field in form %}
        <div class="form-group" style="margin-right: 10px">
            <label class="control-label">{{field.label_tag}}</label>
            <div class="search-field" id="search_box">{{field}}</div>
            <span class="text-danger small">{{field.errors}}</span>
        </div>
        {% endfor %}
        <input type="submit" name="action" value="submit" hidden>
    </span>
{% endblock %}
