<style>
    button{
        cursor: pointer;
        margin-left: 1px;
    }
    .button{{ page }} {
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>
{% block chooce-pages %}
    {% if pages %}
        <div class="w3-row" style="padding-bottom: 24px;">
            <div class="col-md-offset-0">
                <button type="submit" class="button{{ prev }}" name="page" value="{{ prev }}" style="margin-left: 15px"><div class="glyphicon glyphicon-triangle-left"></div></button>
                {% for p in pages %}
                        <button type="submit" class="button{{ p }}" name="page" value="{{ p }}" >{{ p }}</button>
                {% endfor %}
                <button type="submit" class="button{{ next }}" name="page" value="{{ next }}"><div class="glyphicon glyphicon-triangle-right"></div></button>
            </div>
        </div>
    {% endif %}
{% endblock %}